.backgroundHeader {
  position: absolute;
  background: linear-gradient(45deg, #eb3349, #f45c43);
  width: 100%;
  z-index: -1;
}

.contentHeader {
  padding: 0 20px;
  color: white;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.content {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.createEventLayout {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.buttonLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

.recaptcha {
  display: inline-block;
}

@media screen and (min-width: 901px) {
  .title {
    font-size: 110px;
  }

  .motto {
    font-size: 30px;
  }

  .login {
    float: right;
    margin-top: -250px;
  }
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 90px;
  }

  .motto {
    font-size: 25px;
  }

  .login {
    float: none;
    margin: -30px 0 20px 0;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 60px;
  }

  .motto {
    font-size: 17px;
  }
}
